@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

:root {    
    --white: #fdfbf8;
    --yellow: #f9e290;
    --pink: #fc9fa8;
    --blue: #74dae8;
    --purple: #6c3c89;
}



.all {
    background-color: var(--white);
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: var(--purple);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5vw;
    height: 12vh;
}

.logo img {
    height: auto;
    width: 10vw; 
    max-width: 120px; /* Máximo ancho */
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.navbar {
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.nav-links a {
    text-decoration: none;
    color: var(--white);
    transition: all 0.2s ease;
}

.nav-links li a:hover {
    color: var(--blue);
}

.nav-links li:hover {
    transform: scale(1.2);
}


.main {
    flex: 1;
}

.titulosbenefits {
    text-align: center;
    color: var(--purple);
    margin: 1.25rem;
}

.titulosbenefits h2 {
    color: var(--blue);
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0.3rem;
    margin-bottom: 1.25rem;
    text-decoration: underline;
}

.contentbenefits, .contentbenefits2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 2rem auto;
    padding: 1.25rem;
    flex-wrap: wrap;
    max-width: 90%;
    border-radius: 0.625rem;
    width: 100%; 
} 

.contentbenefits {
    background-color: var(--pink);
}

.contentbenefits2 {
    background-color: var(--yellow);
}

.contentbenefits img, .contentbenefits2 img {
    height: 30vh;
    width: 30vw;
    max-width: 300px;
    object-fit: cover;
    border-radius: 0.625rem;
    cursor: pointer;
}

.text-contentbenefits {
    color: var(--white);
}

.benefits {
    margin-bottom: 1.25rem;
    font-size: 1.875rem;
    font-weight: 300;
    color: var(--white);
}

h3 {
    font-size: 1.5rem;
    color: var(--blue);
    margin-bottom: 0.625rem;
}

ul {
    list-style-type: disc;
}

footer {
    background-color: var(--purple);
    text-align: center;
    padding: 1.25rem;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.text-footer {
    color: var(--white);
}

/* Media Queries */
@media (max-width: 767px) {
    .header {
        flex-direction: column;
        padding: 20px;
        height: auto;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .logo img {
        width: 8rem;
    }

    .contentbenefits, .contentbenefits2 {
        gap: 1rem;
        padding: 1rem;
    }

    .contentbenefits img, .contentbenefits2 img {
        width: 70%;
        max-width: 200px;
    }
}

@media (max-width: 1024px) {
    .contentbenefits, .contentbenefits2 {
        gap: 2rem;
        padding: 1rem;
    }
}

@media (min-width: 1024px) {
    .header {
        padding: 1rem 10vw;
    }

    .nav-links {
        gap: 2rem;
    }
}

