@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

:root {    
    --white: #fdfbf8;
    --yellow: #f9e290;
    --pink: #fc9fa8;
    --blue: #74dae8;
    --purple: #6c3c89;
}



.all {
    background-color: var(--white);
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: var(--purple);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5vw;
    height: 12vh;
}

.logo img {
    height: auto;
    width: 10vw; 
    max-width: 120px; /* Máximo ancho */
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.navbar {
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.nav-links a {
    text-decoration: none;
    color: var(--white);
    transition: all 0.2s ease;
}

.nav-links li a:hover {
    color: var(--blue);
}

.nav-links li:hover {
    transform: scale(1.2);
}


.main-raffle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulosraffle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--purple);
    margin: 20px;
}

.titulosraffle h2 {
    color: var(--blue);
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
}

.form-maps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.map-container {
    flex: 1 1 45%;
    margin-right: 5%;
    min-width: 300px;
    padding: 20px;
    background-color: var(--yellow);
    border-radius: 10px;
}

.map-embed {
    width: 100% !important;
    height: 100%;
}

.form-raffle {
    flex: 1 1 45%;
    min-width: 300px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}


.form-group i {
    margin-right: 10px;
    color: var(--purple);
}

.form-group label {
    display: flex;
    align-items: center;
    flex: 1;
}

form input, form select, form textarea, form button, .radio-group {
    display: inline-block;
    width: 100%;
}

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0;
}

.radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-label input {
    margin-right: 10px;
}

.form-group .checkbox{
    display: flex;
    justify-content: center;
        margin-bottom: 10px;
}

/* .checkbox label {
    display: flex;
    align-items: center;
} */

.checkbox input {
    width: 10px;
    }

.checkbox label {
    margin-left: 5px;
   
}
.checkbox{
    display: flex;
    margin-bottom: 20px;
}

.submit-btn {
    background-color: var(--purple);
    color: var(--white);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    display: block;
    margin: 10px auto;
}

.submit-btn:hover {
    background-color: var(--blue);
}



footer {
    background-color: var(--purple);
    text-align: center;
    padding: 1.25rem;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto; /* Esto asegura que el footer esté abajo */
}

.text-footer {
    color: var(--white);
}

@media (min-width: 1024px) {
    .header {
        padding: 1rem 10vw;
    }

    .nav-links {
        gap: 2rem;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 20px;
        height: auto;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        align-items: center;

    }

    .logo img {
        width: 8rem;
    }
    .form-maps {
        flex-direction: column;
    }
    .map-container, .form-raffle {
        flex: 1 1 100%;
        margin-right: 0;
    }
}